@model IEnumerable<jQueryAppBD.Models.Computer>
@{
    ViewBag.Title = "Главная";
    Layout = null;
}

<html>
<head>
    <title>
        Home
    </title>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.css" />
    <style>
        .myTable{
            margin:30px;
        }
        td, th{
            padding:10px;
            padding-left:30px;
            font-weight:800;
        }
        a.knopka {
            color: #fff; /* цвет текста */
            text-decoration: none; /* убирать подчёркивание у ссылок */
            user-select: none; /* убирать выделение текста */
            background: rgb(212,75,56); /* фон кнопки */
            margin-left:30px;
            padding: .7em 1.5em; /* отступ от текста */
            outline: none; /* убирать контур в Mozilla */
        }

            a.knopka:hover {
                background: rgb(232,95,76);
            }
            /* при наведении курсора мышки */
            a.knopka:active {
                background: rgb(152,15,0);
            }
        /* при нажатии */
    </style>
</head>
<body>
    <h2>Список компьютеров</h2>
    <table border="1" class="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Year</th>
                <th>Операции с данными</th>
            </tr>
        </thead>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Model</td>
                <td>@c.Year</td>
                <td>
                    @Html.ActionLink("Смотреть", "Details", "Home", new { id = c.Id }, new { @class = "viewDialog", data_dialog_title = "Описание модели" }) |
                    @Html.ActionLink("Редактировать", "Edit", "Home", new { id = c.Id }, new { @class = "viewDialog", data_dialog_title = "Редактирование модели" }) |
                    @Html.ActionLink("Удалить", "Delete", "Home", new { id = c.Id }, new { @class = "viewDialog", data_dialog_title = "Удаление модели" })
                </td>
            </tr>

        }
    </table>
    <p>@Html.ActionLink("Добавить", "Create", "Home", new { }, new { @class = "viewDialogCreate knopka", data_dialog_title = "Создание модели" })</p>
    <br />
    <p>@Html.ActionLink("Просмотреть книги", "BooksGrid", "Home", new { }, new { @class = "knopka"})</p>
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false })

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>").addClass("dialog").appendTo("body").dialog({ title: $(this).attr("data-dialog-title"), close: function () { $(this).remove() }, modal: true }).load(this.href);
            });

            $(".viewDialogCreate").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(this.href)
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    buttons: {
                        "Сохранить": function () {
                            $.ajax({
                             url: "@Url.Action("Create", "Home")",
                             type: "POST",
                             data: $('form').serialize(),
                             datatype: "json",
                             success: function (result) {
 
                                 $("#dialogContent").html(result);
                                }
                            });
                        }
                    }
                });
            });

            function openBooks() {
                alert('df');

            }
        });
    </script>
</body>

</html>

